---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
  namespace: immich
spec:
  interval: 15m
  chart:
    spec:
      chart: immich
      version: 0.10.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: immich
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    controller:
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      tag: &appVersion "v2.3.1"
    postgres:
      enabled: true
    # redis:
    #   image:
    #     tag: latest
    #   enabled: false
    #   architecture: standalone
    #   auth:
    #     enabled: false
    #   persistence:
    #     enabled: false
    #     medium: ""  # Specify the medium for emptyDir (can be "" or "Memory")
    #     sizeLimit: "8Gi"
    #     path: /data
    #   resources:
    #     requests:
    #       cpu: 15m
    #       memory: 10Mi
    #     limits:
    #       memory: 10Mi
    valkey:
      enabled: false
      controllers:
        main:
          containers:
            main:
              image:
                repository: docker.io/valkey/valkey
                tag: 9.0-alpine@sha256:b4ee67d73e00393e712accc72cfd7003b87d0fcd63f0eba798b23251bfc9c394
                pullPolicy: IfNotPresent
      persistence:
        data:
          enabled: false
          size: 1Gi
          # Optional: Set this to persistentVolumeClaim to keep job queues persistent
          type: emptyDir
          accessMode: ReadWriteOnce
          # storageClass: your-class
    immich:
      metrics:
        enabled: true
      persistence:
        library:
          existingClaim: immich-nfs
    server:
      enabled: true
      controller:
        strategy: RollingUpdate
        rollingUpdate:
          unavailable: "1"
      image:
        repository: ghcr.io/immich-app/immich-server
        tag: *appVersion
        pullPolicy: IfNotPresent
      ingress:
        main:
          enabled: true
          ingressClassName: external
          annotations:
            hajimari.io/icon: mdi:camera-iris
            nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
            nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
            external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
            nginx.ingress.kubernetes.io/enable-owasp-core-rules: "true"
            nginx.ingress.kubernetes.io/custom-http-errors: "404"
            nginx.ingress.kubernetes.io/proxy-body-size: "0"
          hosts:
            - host: &host "immich.${SECRET_DOMAIN}"
              paths:
                - path: /
                  pathType: Prefix
          tls:
            - hosts:
                - *host
      resources:
        requests:
          cpu: 1500m
          memory: 600Mi
    machine-learning:
      enabled: true
      controller:
        strategy: RollingUpdate
        rollingUpdate:
          unavailable: "1"
      image:
        repository: ghcr.io/immich-app/immich-machine-learning
        tag: *appVersion
      persistence:
        geodata-cache:
          enabled: true
          size: 8Gi
          type: emptyDir
          accessMode: ReadWriteMany
      resources:
        requests:
          cpu: 30m
          memory: 200Mi
    env:
      DB_DATABASE_NAME: immich
      DB_HOSTNAME:
        valueFrom:
          secretKeyRef:
            name: postgres-immich-app
            key: host
      DB_USERNAME:
        valueFrom:
          secretKeyRef:
            name: postgres-immich-app
            key: user
      DB_PASSWORD:
        valueFrom:
          secretKeyRef:
            name: postgres-immich-app
            key: password
      DB_URL:
        valueFrom:
          secretKeyRef:
            name: postgres-immich-app
            key: uri
      IMMICH_LOG_LEVEL: verbose
      IMMICH_MACHINE_LEARNING_URL: '{{ printf "http://%s-machine-learning:3003" .Release.Name }}'
      REDIS_HOSTNAME: '{{ printf "%s-valkey" .Release.Name }}'
