apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: recyclarr
  namespace: default
spec:
  interval: 1m
  chart:
    spec:
      chart: app-template
      version: 2.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        type: cronjob
        cronjob:
          schedule: '@daily'
          ttlSecondsAfterFinished: 86400
        containers:
          main:
            image:
              repository: ghcr.io/recyclarr/recyclarr
              tag: latest@sha256:e28f8fd583b3175db64118ec006cc3436f6c8a7c9344520d314f91dc879f6607
            envFrom:
              - secretRef:
                  name: sonarr-secret
              - secretRef:
                  name: radarr-secret
            command: [/app/recyclarr/recyclarr]
            args: [sync]
    service:
      main:
        enabled: false
    persistence:
      config:
        enabled: true
        type: configMap
        name: recyclarr-configmap
        defaultMode: 0775
        readOnly: true
        globalMounts:
          - path: /config/recyclarr.yaml
            subPath: recyclarr.yaml
    restartPolicy: OnFailure
